<div class="row">
  <div class="col-xs-12">
    <h1>What's Your Rank?</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12" id="button">
    <button id="get-it" class="btn btn-lg btn-warning">Find Out Now</button>
  </div>
</div>
<div class="row">
  <div class="col-xs-12" id="results">
    <ul>
      <!-- movie results returned here -->
    </ul>
  </div>
</div>
<script>
try
  {
   OAuth.initialize('wwjYZhmc2SvGcJZcd1q2Xqo6t6s');
  }
   catch(err)
  {
   alert('initialize error' + err);
  }
</script>
