<h1>Friend Rank</h1>
<button id="get-it">Find Out Now</button>
<script>
try
  {
   OAuth.initialize('wwjYZhmc2SvGcJZcd1q2Xqo6t6s');
  }
   catch(err)
  {
   alert('initialize error' + err);
  }

</script>
