<div class="row">
  <div class="col-xs-12">
    <h1 class="page-title center">Critic Rank</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-3 col-md-6 ticket">
      <h2 class="center sub-title">HOW GOOD OF A MOVIE CRITIC ARE YOU?</h2>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 center" id="button">
      <button id="get-it" class="btn btn-lg btn-warning">Find Out Now</button>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-3 col-md-6">
    <p class="description">
      Critic Rank takes all the movies that you have 'Liked' on Facebook and gets  the critic's rating for each of them from both IMDB and Rotten Tomatoes. These ratings are then averaged to show you just how good of a movie critic you are.
    </p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-3 col-md-6">
    <table class="table-striped table-responsive" id="results-table">
      <tbody  id="results">
        <!-- results appear here -->
      </tbody>
    </table>
  </div>
</div>


<script>
try
  {
   OAuth.initialize('wwjYZhmc2SvGcJZcd1q2Xqo6t6s');
  }
   catch(err)
  {
   alert('initialize error' + err);
  }
</script>
